img {
    border-radius: 50%;
    border: 1px solid #835959;
    height: 200px;
    width: 200px;
    float: left;
    margin: 50px;
}

header h1{
    font-weight: bolder;
    font-size: 50px;
    text-align: left;
    float: left;
    margin: 20px 20px 20px 20px;
    text-shadow: 2px 2px black;
}

header nav {
    text-align: right;
    float: right;
    margin: 0px 0px 0px 20px;
    text-shadow: 2px 2px black;
}

header {
    font-family: monospace;
    padding: 100px;
    background-image: url(https://images.unsplash.com/photo-1506508839781-65d2a514b73a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1706&q=80);
    background-size: 1000px 500px;
    color: white;
}

body {
    background: lightblue
}

.myName {
    font-family: monospace;
    font-size: 50px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.849);
    padding: 0px 0px 0px 20px;
}

p {
    font-family: monospace;
}

.intro {
    float: none;
    text-align: left;
    font-size: 1.4em;
    padding: 22px 22px 122px 22px;
    margin: 20px 0px 0px 0px;
}