.lenaSketch {
    width: 200px;
}

img {
    border-radius: 50%;
    border: 5px solid #346d32;
    height: 200px;
    float: left;
    margin: 50px;
}

header h1{
    font-weight: bolder;
    font-size: 50px;
    text-align: left;
    float: left;
    margin: 20px 20px 20px -82px;
    text-shadow: 5px 1px  black;
}

header nav {
    text-align: right;
    float: right;
    margin: 0px 0px 0px 0px;
    text-shadow: 2px 2px black;
}

header {
    font-family: monospace;
    padding: 100px;
    background-image: url(https://images.unsplash.com/photo-1450704944629-6a65f6810cf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80);
    color: #346d32;
}


body {
    background-image: url(https://images.unsplash.com/photo-1523956028025-95b0b9efe908?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1229&q=80);
    width:100%;
    height: 100%;
}

.myName {
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 1px 5px #346d32;
    padding: 0px 0px 0px 20px;
}

html {
    font-family: monospace;
}

#introBox {
    display: inline-block;
    background: white;
    border: 2px solid #346d32;
    text-align: left;
    width: 500px;
    height: 50px;
    font-size: 1.4em;
    padding: 22px 22px 122px 22px;
    margin: 20px 0px 0px 0px;
}

.readMore {
    background-color: #4b0626;
    font-size: 20px;
    text-shadow: .75px .75px black;
    text-align: center;
    color: whitesmoke;
}

#testButton {
    background-color: #357285;
    background-image: url(https://images.unsplash.com/photo-1499428665502-503f6c608263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    color: white;
    text-shadow: 1px black;
    font-family: monospace;
    height: 100px;
    width: 400px;
    flex-shrink: initial;
    text-align: center;
    padding: 20px;
    margin: 50px;
    border-radius: 10%;
    font-size-adjust: unset;
    font-size: xx-large;
    display: inline-block;
    cursor: crosshair;
}

.jobTitles:hover {
    opacity: 0.3;
    cursor: crosshair;

}

.jobTitles {
    display: inline-block;
}

#testButton:hover {
    opacity: 0.3;
}

.title {
    color: #cc6300;
    font-weight: bold;
    font-size: 20px;
}

.desc {
    color: black;
    font-weight: bold;
    font-size: 10px;
}

.jobExperience {
    display: inline-block;
    padding: 10% ;
    margin: 20% 0% 0% -10%;
    box-align: left;
}