.lenaSketch {
    width: 200px;
}

img {
    border-radius: 50%;
    border: 1px solid #835959;
    height: 200px;
    float: left;
    margin: 50px;
}

header h1{
    font-weight: bolder;
    font-size: 50px;
    text-align: left;
    float: left;
    margin: 20px 20px 20px 20px;
    text-shadow: 2px 2px black;
}

header nav {
    text-align: right;
    float: right;
    margin: 0px 0px 0px 20px;
    text-shadow: 2px 2px black;
}

header {
    font-family: monospace;
    padding: 100px;
    background-image: url(https://images.unsplash.com/photo-1506508839781-65d2a514b73a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1706&q=80);
    background-size: 3000px;
    color: white;
}

body {
    background: rgb(233, 194, 194)
}

.myName {
    font-family: monospace;
    font-size: 50px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.849);
    padding: 0px 0px 0px 20px;
}

p {
    font-family: monospace;
}

.intro {
    float: none;
    text-align: left;
    font-size: 1.4em;
    padding: 22px 22px 122px 22px;
    margin: 20px 0px 0px 0px;
}

.readMore {
    background-color: #357285;
    font-size: 20px;
    text-shadow: .75px .75px black;
    text-align: center;
    color: whitesmoke;
}

#testButton {
    background-color: #357285;
    background-image: url(https://images.unsplash.com/photo-1471138406156-7a89e687a062?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    image-rendering: pixelated;
    color: white;
    text-shadow: 1px black;
    font-family: monospace;
    text-align: center;
    padding: 20px;
    margin: 50px;
    font-size-adjust: unset;
    font-size: xx-large;
    display: inline-block;
}

.jobTitles:hover {
    opacity: 0.3;
}

#testButton:hover {
    opacity: 0.3;
}